#connection-status {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 10px;
}

.connection-marker {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.connected {
  background-color: rgb(127, 255, 212, 0.6);
  border: 1px solid rgb(127, 255, 212);
}

.disconnected {
  background-color: rgb(255, 127, 212, 0.6);
  border: 1px solid rgb(255, 127, 212);
}
